@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '../../bower_components/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Courgette);
// Typography
$base-font-family: $helvetica;
// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;
body {
    background-color: $base-background-color;
    color: $base-font-color;
    font-family: $base-font-family;
}

.main-title {
	font-family: "Courgette", cursive;
	text-align: center;
	font-size: 40px;
	margin: 200px 0 20px 0;
}

.divider-bar {
	background: black;
	height: 50px;
}

.index-view {
    float: left;
}

//-----------------Product Types-------------------//
.type-list {
    position: relative;
    margin: 40px 0 0 100px;
    max-width: 400px;
    &:first-child {
    	margin-top: 80px;
    }
    .type-title {
    	font-family: "Courgette", cursive;
    }
    .fa-plus,
    .fa-minus {
        position: absolute;
        right: 20px;
        opacity: 0;
        cursor: pointer;
        top: 12px;
    }
    &:hover .fa-plus {
        opacity: 1;
    }
    h1 {
        margin: 0;
    }
    ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
    }
    &.active {
        ul {
            margin-top: 20px;
            max-height: 500px;
            transition: max-height 0.5s ease-in-out;
        }
    }
    &.active:hover .fa-plus {
        opacity: 0;
    }
    &.active:hover .fa-minus {
        opacity: 1;
    }
}

//------------------Menu List Items-------------------//
.menu-list-item {
    position: relative;
    list-style: none;
    max-width: 400px;
    border-top: 1px solid black;
    cursor: pointer;
    .menu-list-item-price,
    .menu-list-item-description,
    .menu-list-item-type,
    .buttons {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, margin 0.5s ease-in-out;
    }
    .menu-list-item-title {
        text-align: center;
        margin: 4px 0;
        font-size: 20px;
    }
    .menu-list-item-price {
        float: left;
    }
    .menu-list-item-add {
        float: right;
        width: 75px;
        border: none;
        color: white;
        background: black;
        margin-bottom: 10px;
    	font-family: "Courgette", cursive;
    	box-shadow: -3px 3px 5px grey;
    }
    .fa-times {
        position: absolute;
        right: 30px;
        top: 10px;
        opacity: 0;
        cursor: pointer;
    }
    &:last-child {
        border-bottom: 1px solid black;
    }
    &.detailed {
        cursor: default;
        .menu-list-item-price,
        .menu-list-item-description,
        .menu-list-item-type,
        .buttons {
            max-height: 60px;
            transition: max-height 0.5s ease-in-out;
        }
    }
    &.detailed .menu-list-item-description {
        margin: 10px 0;
    }
    &.detailed .fa-times {
        opacity: 1;
    }
}

//----------------------Order View-------------------//
.order-view {
    float: right;
    min-width: 230px;
    margin: 40px 40px 0 0;
    .order-title {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    	font-family: "Courgette", cursive;
    }
    .order-item {
        position: relative;
        font-size: 14px;
        padding-left: 20px;
        .name {
            display: inline-block;
            width: 150px;
        }
        .fa-minus {
            position: absolute;
            left: 0px;
            top: 2px;
            opacity: 0;
            cursor: pointer;
        }
        &:hover .fa-minus {
            opacity: 1;
        }
    }
    .order-subtotal {
        border-top: 1px solid black;
        padding: 15px 0 0 0;
        margin: 0;
        .subtotal-text {
            display: inline-block;
            width: 170px;
        }
    }
    .order-tax {
        margin: 0 0 15px 0;
        .tax-text {
            display: inline-block;
            width: 170px;
        }
    }
    .order-total {
        margin: 0;
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        .total-text {
            display: inline-block;
            width: 170px;
        }
    }
    .order-confirm {
    	margin-top: 10px;
        display: inline-block;
        background: black;
        color: white;
        width: 100%;
        border: none;
    	font-family: "Courgette", cursive;
    	box-shadow: -3px 3px 5px grey;

    }
}

//----------------Checkout-View-----------------//
.checkout-view {
    @include clearfix();
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.checkout-container {
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    .checkout-title {
    	font-family: "Courgette", cursive;
    }
    .checkout-item{
    	.price {
    		display: inline-block;
    		float: right;
    	}
    }
    .checkout-subtotal {
    	border-top: 1px solid black;
    	margin: 0;
		.subtotal {
			display: inline-block;
			float: right
		}
    }
    .checkout-tax {
    	border-bottom: 1px solid black;
    	margin: 0;
		 .tax {
        	display: inline-block;
        	float: right;
        }
    }
    .checkout-total {
		.total {
			display: inline-block;
			float: right;
		}
    }
    .buttons {
    	text-align: center;
    	font-family: "Courgette", cursive;
    	button {
    		width: 45%;
    		line-height: 26px;
    	}
    	.back {
    		background: rgba(200, 200, 200, 1);
    		color: black;
    		border: none;
    	box-shadow: -3px 3px 5px grey;

    	}
    	.confirm {
    		background: black;
    		color: white;
    		border: none;
    	box-shadow: -3px 3px 5px grey;
    		
    	}
    }
}
