<h1 class="menu-list-item-title">{{name}}</h1>
<p class="menu-list-item-description">{{description}}</p>
<p class="menu-list-item-price">${{price}}</p>
<div class="buttons">
	<button class="menu-list-item-add">Add</button>	
</div>
<i class="fa fa-times"></i>