<h1 class="order-title">Your Order</h1>

{{#each this}}
<h3 class="order-item">{{name}}<i class="fa fa-minus"></i></h3>
{{/each}}

<p class="order-total">Order total: $<span class="total"></span></p>
